$blue: #3E4977;
$green: #0B6444;

body {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}

input {
  text-align: center;
}

.container {
  margin-bottom: 30px;
}

.promptBox {
  background-color: $blue;
  color: white;
  border-radius: 25px;
  padding: 30px;
}

#userInput {
  height: 50px;
  font-size: 24pt;
}

.bigSubmit {
  font-size: 24pt;
  border-radius: 10px;
  background-color: $green;
  border: dotted;
  border-color: $green;
  color: white;
  margin: 10px;
}

.bigSubmit:hover {
  opacity: 0.7;
  color: white;
  border: dotted;
}

.loadingImage {
  display: none;
}

.outputHeader {
  margin-top: 20px;
  font-size: 24pt;
}

.userAvatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: dotted $blue;
}

.repoList {
  font-size: 14pt;
}

.repoBox {
  border: inset $blue 5px;
  padding-top: 20px;
  height: 370px;
}

.repoBox:hover {
  font-weight: lighter;
  color: $green;
}

.repoIcon {
  width: 100px;
  height: 100px;
}

.repoIcon:hover {
  opacity: .4;
  padding: 2px;
  border: dashed;
}
